@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

body{
    font-family: 'Helvetica Neue', sans-serif;
}

h1{
    font-weight: bold;
    font-size: 2.75rem;
    font-family: 'Helvetica 65 Medium', sans-serif;
}

.heading{
    font-size: 2.25rem;
}

hr{
    height: 0px;
    border: none;
    border-top: 3px solid black;
}

p{
    font-size: 1.4rem;
    line-height: 140%;
}

#about, #gallery{
    width: 70%;
    margin-top: 10rem;
}

#about .left p{
    padding-top: 2rem;
}

#about .right{
}

#about img{
    width: 100%;
    border-radius: 10%;
}