/*
*
*   style.scss
*
*   this file is the main style sheet for the website
*
*/


@import 'fonts';
@import url(//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo);

*{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
    color: #000;
}

hr{
    background-color: #cccccc;
}

a{
    color: #000;
    &:visited{
        color: #000;
    }
}

#mobile{
    display: none;
}

.links{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    z-index: 1;
    transition: height .25s cubic-bezier(.6,0,.4,1);
    color: #000;
    &:hover{
        text-decoration: none;
        color: #000;
    }
  }
  
  .links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .07em;
    height: .1em;
    width: 100%;
    background: #3498db;
    z-index: -1;
    transition: height .25s cubic-bezier(.6,0,.4,1);
  }

  .links:hover::after {
    height: .2em;
    transition: height .25s cubic-bezier(.6,0,.4,1);
  }

.ntc-header{
    padding: 0px;
    font-size: 20px;
    background-color: #885bd0;
    color: #fff;
    z-index: 500 !important;
    .ntc-nav{
        top: 0;
        width: 100%;
        padding-left: 10%;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        background-color: #885bd0;
        position: fixed;
        z-index: 500 !important;
        .icon-logo{
            float: left;
            display: flex;
            padding: 13px 17px 13px 0px;
            border-radius: 5px;
            transition: 0.1s;
            .logo-text{
                margin-left: 10px;
                font-weight: 600;
            }
            img{
                height: 1.1em;
            }
            &:hover{
                background-color: #7947cb;
                padding-left: 25px;
                margin-left: -25px;
                transition: 0.1s;
            }
        }
        .ntc-menu{
            margin-right: 10%;
            float: right;
            .ntc-items{
                padding: 13px 17px;
                display: inline-block;
                cursor: pointer;
                border-radius: 5px;
                color: #fff;
                margin-top: 0px;
                transition: 0.1s;
                &:hover{
                    background-color: #7947cb;
                    color: #fff;
                    transition: 0.1s;
                }
                &:first-child{
                    // margin-left: 20px;
                }
            }
        }
    }
}

.ntc-profile-mobile{
    display: none;
}

.ntc-intro{
    margin-top: 15vh;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    .intro-para{
        .ntc-intro1{
        padding-top: 10px;
        font-size: 2.25em;
        font-weight: 600;
        }
        .ntc-intro2{
            margin-top: 60px;
            font-size: 1.25em;
            color: #494949;
            line-height: 30px;
            width: 70%;
        }
        .intro-link{
            color: #8e44ad;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                text-decoration: underline;
                text-decoration-color: #8e44ad;
                color: #000000;
                transition: 0.2s;
            }
        }
    }
    img{
        height: 40vh;
        width: auto;
        border-radius: 20px;
        margin-left: auto;
    }
}

.ntc-latest{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    .ntc-latest-title{
        font-weight: 800;
        font-size: 2em;
    }
    .ntc-latest-links{
        .ntc-latest-link{
            padding-top: 5px;
            border-radius: 10px;
            transition: 0.1s;
            &:hover{
                cursor: pointer;
                background-color: #f1f1f1;
                margin-left: -20px;
                padding-left: 12px;
                transition: 0.1s;
            }
            time{
                font-weight: 400;
                font-size: 0.9em;
                color: #8f8f8f;
            }
            .ntc-latest-link-name{
                font-weight: 700;
            }
            .ntc-latest-link-tags{
                margin-top: auto;
                margin-bottom: auto;
                color: #000;
            }
        }
    }
}

.ntc-projects{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    .ntc-projects-title{
        font-weight: 800;
        font-size: 2em;
    }
}

.ntc-newsletter{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    .ntc-newsletter-title{
        font-weight: 800;
        font-size: 2em;
    }
}

footer{
    margin-top: 5em;
    .ntc-footer-list{
        list-style: none;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        .ntc-footer-item{
            display: inline-block;
            img{
                margin-left: 20px;
                padding: 10px;
                height: 3.5em;
                cursor: pointer;
                border-radius: 0.5em;
                transition: 0.1s;
                &:hover{
                    transition: 0.1s;
                    background-color: #e4e4e4;
                }
                &:first-child{
                    // margin-left: 0px;
                }
            }
        }
    }
}

.ntc-about-me{
    margin-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    .ntc-about-title{
        font-size: 2.5em;
        font-weight: 700;
        text-align: center;
    }
    .ntc-about-paragraph{
        font-size: 1.1em;
    }
}

.ntc-blog-container{
    max-width: 1100px;
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.ntc-blog-nav{
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.ntc-blog{
    margin-top: 5rem;
    grid-gap: 5rem;
    grid-template-columns: 3fr 1fr;
    display: grid;
    align-items: stretch;
    .ntc-blog-title{
        font-size: 2.5em;
        font-weight: 700;
        margin-top: 10%;
        margin-bottom: 10%;
        color: #000;
    }
    .ntc-blog-code{
        overflow: hidden;
        width: 88.8vh;
    }
    .ntc-blog-paragraph{
        font-size: 1.1em;
        color: #000;
    }
    .ntc-aside-content{
        section{
            margin: 1.5rem 0;
            background: #f6f8fb;
            padding: 1.5rem;
            border-radius: .35rem;
            .ntc-avatar{
                display: block;
                border-radius: 50%;
                max-width: 180px;
                margin: 0 auto 1rem;
                height: auto;
            }
            h4{
                font-size: 1.2em;
                border-bottom: 1px solid #cccccc;
                margin-bottom: 15px;
            }
        }
    }
}

.ntc-blog-about{
    height: 100px;
    float: right;
    background-color: #000;
}

.filename{
    font-size: .9rem;
    margin-bottom: -.8rem;
    padding: .5rem 1.5rem .75rem;
    line-height: 1.8;
    background-color: #000;
    color: #fff;
    z-index: 1;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: .5rem 1rem .75rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin-left: auto;
    margin-right: auto;
}

.ntc-article-list{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    .ntc-article-list-title{
        font-weight: 800;
        font-size: 3em;
    }
    .ntc-latest-links{
        margin-top: 5%;
        .ntc-latest-link{
            padding-top: 5px;
            padding-bottom: 7px;
            border-radius: 10px;
            transition: 0.1s;
            &:hover{
                cursor: pointer;
                background-color: #f1f1f1;
                margin-left: -20px;
                padding-left: 12px;
                transition: 0.1s;
            }
            time{
                font-weight: 400;
                font-size: 0.9em;
                color: #8f8f8f;
            }
            .ntc-latest-link-name{
                font-weight: 700;
            }
            .ntc-latest-link-tags{
                margin-top: auto;
                margin-bottom: auto;
                color: #000;
            }
        }
    }
}

.ntc-gallery{
    columns: 6 15em;
    column-gap: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .ntc-image{
        img{
            margin-top: 15px;
            width: 100%;
        }
    }
}

.link-click{
    text-decoration: none;
    color: #000;
    &:hover{
        text-decoration: none;
        color: #000;
    }
}

.link-click::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
}

.link-click::-webkit-scrollbar-thumb {
    background: #000; 
}

.ntc-spacer{
    height: 3em;
}

// tag colours

.tag-html{
    background-color: #E2F0CB;
}

.tag-css{
    background-color: #FFB7B2;
}

.tag-javascript{
    background-color: #FFDAC1;
}

//Blog Colours

.ntc-alert{
    font-weight: 600;
    color: #f03434;
}

//mobile style
@media screen and (max-width: 1100px) {
    body{
        margin: 0px;
    }

    #desktop{
        display: none;
    }

    #mobile{
        display: block;
    }

    .ntc-header{
        margin-top: 1px;
        font-size: 1em;
        .ntc-nav{
            width: 100%;
            cursor: pointer;
            .icon-logo{
                float: left;
                display: flex;
                padding: 10px 15px 10px 0px;
                border-radius: 5px;
                transition: 0.1s;
                .logo-text{
                    margin-left: 10px;
                    font-weight: 600;
                }
                img{
                    height: 1.1em;
                }
                &:hover{
                    padding-left: 15px;
                    margin-left: -15px;
                    transition: 0.1s;
                }
            }
            .ntc-menu{
                margin-right: 1%;
                .ntc-items{
                    padding: 10px 15px;
                    display: inline-block;
                    cursor: pointer;
                    border-radius: 5px;
                    color: #fff;
                    margin-top: 0px;
                    transition: 0.1s;
                    text-align: right;
                    justify-content: right;
                    &:hover{
                        color: #fff;
                        transition: 0.1s;
                    }
                }
            }
        }
    }
    .ntc-profile-mobile{
        margin-top: 10vh;
        display: block;
        height: 30vh;
        border-radius: 15px;
        margin-left: 10%;
    }
    .ntc-intro{
        margin-top: 1vh;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        width: 80%;
        .intro-para{
            .ntc-intro1{
            padding-top: 10px;
            font-size: 1.5em;
            font-weight: 600;
            }
            .ntc-intro2{
                margin-top: 60px;
                font-size: 1.25em;
                color: #494949;
                line-height: 30px;
                width: 100%;
            }
            .intro-link{
                color: #8e44ad;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    text-decoration: underline;
                    text-decoration-color: #8e44ad;
                    color: #000000;
                    transition: 0.2s;
                }
            }
        }
        img{
            height: 400px;
            border-radius: 20px;
            margin-left: 150px;
            display: none;
        }
    }
    .ntc-about-me{
        margin-top: 3.5em;
        width: 90%;
        margin-left: 5%;
        .ntc-about-title{
            font-size: 2.5em;
            font-weight: 700;
        }
        .ntc-about-paragraph{
            font-size: 1.1em;
        }
    }
    footer{
        .ntc-footer-list{
            width: 15em;
        }
    }
    .ntc-blog-container{
        max-width: 1100px;
        padding: 0 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ntc-blog-nav{
        
        margin-right: auto;
    }
    
    .ntc-blog{
        margin-top: 5rem;
        grid-gap: 0rem;
        grid-template-columns: 100%;
        display: grid;
        align-items: stretch;
        .ntc-blog-title{
            font-size: 2.5em;
            font-weight: 700;
        }
        .ntc-blog-code{
            overflow: hidden;
            width: 100%;
        }
        .ntc-blog-paragraph{
            font-size: 1.1em;
        }
    }
    
    .ntc-blog-about{
        height: 100px;
        float: right;
        background-color: #000;
    }
}